{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}

{% block content %}
<!-- Jumbotron -->
<div class=" py-3 py-md-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <div class="text-bg-dark card">
                    <div class="card-body py-5 px-md-5">
                        <div class="text-center mb-5">
                            <h3>Register</h3>
                        </div>

                        {% for field in form %}
                        {% if field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ field.errors }}
                        </div>
                        {% endif %}
                        {% endfor %}


                        <form method="post">
                            {% csrf_token %}

                            <div class="row">

                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label">
                                            Username
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.username}}
                                    </div>
                                </div>

                                <div class="col-md-6 mb-4">
                                    <div data-mdb-input-init class="form-outline">
                                        <label class="form-label">
                                            Player tag
                                            <span class="text-danger">*</span>
                                        </label>
                                        {{form.player_tag}}
                                    </div>
                                </div>
                            </div>

                            <!-- Email input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label">
                                    Email
                                    <span class="text-danger">*</span>
                                </label>
                                {{form.email}}
                            </div>

                            <!-- Password1 input -->
                            <div data-mdb-input-init class="form-outline mb-4">
                                <label class="form-label">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                                {{form.password1}}
                            </div>

                            <!-- Password2 input -->
                            <div data-mdb-input-init class="form-outline mb-5">
                                <label class="form-label">
                                    Password
                                    <span class="text-danger">*</span>
                                </label>
                                {{form.password2}}
                            </div>

                            <!-- Submit button -->
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init
                                    class="btn btn-primary btn-block mb-4">
                                Sign up
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

