{% extends 'base.html' %}

{% block title %}Реєстрація{% endblock %}
{% block content %}

{% if error_message %}
<div class="alert alert-danger mt-3 text-center" role="alert">
    {{error_message}}
</div>
{% endif %}

<div class="container mt-5">
    <form action="" method="post">
        {% csrf_token %}

        <div class="mt-3">
            <label>
                <input class="form-control" name="username" type="text" placeholder="username">
            </label>
        </div>

        <div class="mt-3">
            <label>
                <input class="form-control" name="player_tag" type="text" placeholder="player tag">
            </label>
        </div>

        <div class="mt-3">
            <label>
                <input class="form-control" name="password1" type="password" placeholder="password">
            </label>
        </div>

        <div class="mt-3">
            <label>
                <input class="form-control" name="password2" type="password" placeholder="password">
            </label>
        </div>

        <div class="mt-3">
            <button type="submit">Register</button>
        </div>

    </form>
</div>
{% endblock %}

