{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3 text-center">
            <ul class="nav flex-column nav-pills me-3">
                <div class="container text-center">

                    <div class="text-center">
                        <img src="{{ clan_info.badgeUrls.medium }}" class="img-fluid" alt="">
                    </div>

                    <div class="text-center">
                        {% for f in clan_info.labels %}
                        <img src="{{ f.iconUrls.small }}" width="40" alt="">
                        {% endfor %}
                    </div>

                    <div class="container mt-3">
                        <h3>{{ clan_info.name }}</h3>
                    </div>
                </div>

                <li class="nav-item">
                    <a class="nav-link active" href="#main_info" data-toggle="tab">Основна інформація</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#members" data-toggle="tab">Учасникі клану</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#clan_capital" data-toggle="tab">Столиця клану</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#cc_raid" data-toggle="tab">Клановий рейд</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#cc_raid_history" data-toggle="tab">Історія кланових рейдів</a>
                </li>

            </ul>
        </div>

        <div class="col-md-9">
            <div class="container">
                <div class="tab-content">

                    <article class="tab-pane active" id="main_info">
                        <div class="container text-center">
                            <h4 class="my-3">Основна інформація</h4>
                        </div>
                        <table class="table table-hover w-100">
                            <tbody>
                            {% for key, value in clan_info.items %}
                            {% if key not in exclude_main %}
                            <tr>
                                {% if key == 'location' %}
                                <td>{{key|split_camel_case}}</td>
                                <td>{{value.name}} {{value.countryCode}}</td>

                                {% elif key == 'capitalLeague' %}
                                <td>{{key|split_camel_case}}</td>
                                <td>{{value.name}}</td>

                                {% elif key == 'warLeague' %}
                                <td>{{key|split_camel_case}}</td>
                                <td>{{value.name}}</td>

                                {% else %}
                                <td>{{key|split_camel_case}}</td>
                                <td>{{value}}</td>

                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </article>

                    <article class="tab-pane" id="members">
                        <div class="container text-center">
                            <h4 class="my-3">Участникі клану</h4>
                        </div>
                        <table class="table table-hover w-100">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Tag</th>
                                <th>Lvl</th>
                                <th>Th</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for member in clan_info.memberList %}
                            <tr>
                                <td><img src="{{member.league.iconUrls.small}}" alt="" width="40" class="mr-3"></td>
                                <td><a href="{% url 'player' member.tag|slice:'1:' %}">{{ member.name }}</a></td>
                                <td>{{ member.tag }}</td>
                                <td>{{ member.expLevel }}</td>
                                <td>{{ member.townHallLevel }}</td>
                                <td>{{ member.role }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </article>

                    <article class="tab-pane" id="clan_capital">
                        <div class="container text-center">
                            <h4 class="my-3">Столиця клану</h4>
                        </div>
                        <table class="table table-hover w-100">
                            <tbody>
                            {% for f in clan_info.clanCapital.districts %}
                            <tr>
                                <td>{{ f.name }}</td>
                                <td>{{ f.districtHallLevel }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </article>

                    <article class="tab-pane" id="cc_raid">
                        <div class="container text-center">
                            <h4 class="my-3"> Останній клановий рейд</h4>
                        </div>
                    </article>

                    <article class="tab-pane" id="cc_raid_history">
                        <div class="container text-center">
                            <h4 class="my-3">Історія кланових рейдів</h4>
                        </div>

                        <div class="accordion" id="accordionExample">
                            {% for info in ccr %}
                            <div class="accordion-item">
                                <h2 class="accordion-header" id="heading{{ info.startTime }}">
                                    <button class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                                            type="button" data-bs-toggle="collapse"
                                            data-bs-target="#collapse{{ info.startTime }}"
                                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                                            aria-controls="collapse{{ info.startTime }}">
                                        <div class="d-flex justify-content-between w-100">
                                            <div>
                                                {{ info.startTime|date_converter }} - {{ info.endTime|date_converter }}
                                            </div>
                                            <div>
                                                {% if info.state == 'ended' %}
                                                <span class="badge rounded-pill text-bg-danger mx-3">{{ info.state }}</span>
                                                {% elif info.state == 'ongoing' %}
                                                <span class="badge rounded-pill text-bg-success mx-3">{{ info.state }}</span>
                                                {% else %}
                                                <span class="badge rounded-pill text-bg-danger mx-3">{{ info.state }}</span>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </button>

                                </h2>
                                <div id="collapse{{ info.startTime }}"
                                     class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                                     aria-labelledby="heading{{ info.startTime }}"
                                     data-bs-parent="#accordionExample">

                                    <div class="accordion-body">
                                        <table class="table table-hover w-100">
                                            <tbody>
                                            {% for key, val in info.items %}
                                            {% if key not in exclude_ccr %}
                                            <tr>
                                                <th>{{ key|split_camel_case }}</th>
                                                <td>{{ val|date_converter }}</td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </article>

                </div>
            </div>
        </div>
    </div>
</div>
<script
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"
></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
        integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
        crossorigin="anonymous"
></script>
{% endblock %}